<div *ngIf="products.length!=0; else erreur">
<div class="container mt-4 text-center">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Trier par
    </button>
    <div class="dropdown-menu bg-light" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button" (click)="sortBy('alphacroi')">Nom, (A-Z)</button>
      <button class="dropdown-item" type="button" (click)="sortBy('alphadecroi')">Nom, (Z-A)</button>
      <button class="dropdown-item" type="button"(click)="sortBy('numcroi')">Prix, croissant </button>
      <button class="dropdown-item" type="button" (click)="sortBy('numdecroi')">Prix, décroissant </button>
    </div>
  </div>
  </div>

  <div class="container my-5">
    <div class="row justify-content-between">
      <ng-container *ngFor="let p of products; let i=index" >
        <div class="col-4 mb-5">
            <div class="card h-100 shadow bg-light" style="width: 18rem;">
                <img class="card-img-top" [src]="p.image" alt="Card image cap">
                <div class="card-body text-center">
                  <h5 class="card-title text-truncate">{{p.nomProd}}</h5>
                  <h4 id="product-price">{{p.prix}} TND </h4>
                  <a href="#" class="btn btn-primary" (click)="selectedProduct = p" data-toggle="modal" data-target="#card">Description</a>
                </div>
              </div>
        </div>
        <div  class="modal fade" id="card" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle"> {{selectedProduct?.nomProd}} </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <img class="card-img-top" src="{{selectedProduct?.image}}" alt="Card image cap">
                    <p class="card-text">{{selectedProduct?.decrip}}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" (click)="addItemToCart(selectedProduct?.id)">Add to cart</button>
                </div>
              </div>
            </div>
          </div>
    <div *ngIf="(i + 1) % 3 === 0" class="w-100"></div>
    </ng-container>
    </div>
    </div>
  </div>

  <ng-template #erreur>
      <div class="container d-flex flex-row justify-content-center align-items-center mt-5">
          <img src="/Images/no-product-33dc3c65b6963555d6e7f92d0ace54bd.jpg">
        </div>

  </ng-template>
