
<nav class="navbar navbar-expand-md navbar-dark divider">
  <a href="#" class="navbar-brand"><img src="/YourTechLogo2.png" alt=""></a>
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navigationCol" aria-controls="navigationCol" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navigationCol">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
              <a href="#" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
              <a href="#" class="nav-link" routerLink="/contact">Contact</a>
          </li>
          <li class="nav-item">
              <a href="#" class="nav-link" routerLink="/login">Login</a>
          </li>
      </ul>

      <form class="form-inline input-group-sm">
        <div class="form-inline cartAll">
            <button class="CartButton nav-item" routerLinkActive="active current" routerLink="/chariot" ><i class='fa fa-shopping-cart cartIcon'></i></button>
            <p class='cartCount'>{{getTotalCount()}}</p>
        </div>
        <input class="form-control mr-mc-2" type="text" placeholder="Search">
        <button class="btn btn-outline-light btn-sm" type="submit">Search</button>
    </form>
    </div>
</nav>
