

<!--footer starts from here-->
<footer class="footer">
<div class="container bottom_border">
<div class="row">
<div class=" col-sm-4 col-md col-sm-4  col-12 col">
<h5 class="headin5_amrc col_white_amrc pt2">Qui sommes - nous ?</h5>
<!--headin5_amrc-->
<p class="mb10">YouTech est le premier site tunisien qui propose la vente en ligne d’ordinateurs de portables, ordinateurs de bureaux, téléphones, smartphones et accessoires.</p>
<p><i class="fa fa-location-arrow"></i> 2083, Rue le developpeur, Ariana </p>
<p><i class="fa fa-phone"></i>  +216 71 99 88 77  </p>
<p><i class="fa fa fa-envelope"></i><a href="mailto:dalitlich@gmail.com">  dalitlich@gmail.com</a></p>


</div>


<div class=" col-sm-4 col-md  col-6 col">
<h5 class="headin5_amrc col_white_amrc pt2">Mon compte</h5>
<!--headin5_amrc-->
<ul class="footer_ul_amrc">
<li><a href="#">Mon panier</a></li>
<li><a href="#">Mes commandes</a></li>
<li><a href="#">Mes adresses</a></li>
<li><a href="#">Mes informations personnelles</a></li>
<li><a href="#">Mes favoris</a></li>
</ul>
<!--footer_ul_amrc ends here-->
</div>





<div class=" col-sm-4 col-md  col-12 col">
<h5 class="headin5_amrc col_white_amrc pt2">Nos partenaires</h5>
<!--headin5_amrc ends here-->

<ul class="footer_ul2_amrc">
<li><a href="https://www.facebook.com/SteelSeries/"><i class="fa fa-headphones fleft padding-right" aria-hidden="true"></i></a><p> SteelSeries : <a href="https://steelseries.com/">https://steelseries.com/</a></p></li>
<li><a href="https://twitter.com/LogitechG"><i class="fa fa-gamepad fleft padding-right" aria-hidden="true"></i> </a><p> Logitech : <a href="https://www.logitechg.com/en-us">https://www.logitechg.com/</a></p></li>
<li><a href="https://www.instagram.com/razer/"><i class="fa fa-keyboard-o fleft padding-right" aria-hidden="true"></i> </a><p> Razer : <a href="https://www.razer.com/">https://www.razer.com/</a></p></li>
</ul>
<!--footer_ul2_amrc ends here-->
</div>
</div>
</div>


<div class="container pt-3">

<!--foote_bottom_ul_amrc ends here-->
<p class="text-center">Copyright @2018 | Developpé par <a href="#">Chaabouni w chourekaouhou</a></p>

<ul class="social_footer_ul">
<li><a href="https://www.facebook.com/DaliTlichh"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
<li><a href="https://twitter.com/ahmedchaabouni"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
<li><a href="https://www.linkedin.com/in/dali-tlich-a0702312b/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
<li><a href="https://www.instagram.com/razer/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
</ul>
<!--social_footer_ul ends here-->
</div>

</footer>
