<!-- <div class="container">
  <div class="row my-5">
    <div class="col-sm">

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/Images/telephone-portable-apple-iphone-x-64-go-space-grey.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">
            <h5 class="text-center">APPLE IPHONE X</h5><b> Prix : 4600 dt</b>
          </h5>
          <a href="#" class="btn btn-primary mr-2">Add to cart</a>
          <a class="btn btn-primary pl-3" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false"
            aria-controls="collapseExample">
            Description
          </a>
          <div class="collapse" id="collapseExample1">
            <div class="card card-body">
              Ecran Super Retina 5.8" HD OLED Multi-Touch - Processeur Bionic Hexa-Core 64 bits - RAM : 3 Go - Appareil
              photo 12 Mp ( Arriére ) , 7 Mp ( Frontale ) - Stokage : 256 Go - 4G - NFC - GPS - Face ID - Couleur
              Silver - Garantie 1an
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm">


      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/Images/telephone-portable-apple-iphone-8-plus-256-go-space-grey.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">
            <h5 class="text-center">APPLE IPHONE 8 PLUS</h5><b>Prix : 3800 dt</b>
          </h5>
          <a href="#" class="btn btn-primary mr-2">Add to cart</a>
          <a class="btn btn-primary pl-3" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false"
            aria-controls="collapseExample">
            Description
          </a>
          <div class="collapse" id="collapseExample2">
            <div class="card card-body">
              Ecran Retina 5.5" Full HD - Processeur : Apple A11 Bionic Hexa-Core 64 bits et coprocesseur de mouvement
              M11 intégré - Système : iOS 11 - technologie IPS - RAM : 3 Go - Appareil photo 12 MP ( Arriére) ,7 MP
              (frontale) - Stockage : 256 Go - 4G -NFC - GPS - lecteur d'empreintes - Couleur Noir - Garantie 1 an
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm">


      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/Images/galaxy-note-9-tunisie.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">
            <h5 class="text-center">SAMSUNG GALAXY NOTE9</h5><b>Prix : 3200 dt</b>
          </h5>
          <a href="#" class="btn btn-primary mr-2">Add to cart</a>
          <a class="btn btn-primary pl-3" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false"
            aria-controls="collapseExample">
            Description
          </a>
          <div class="collapse" id="collapseExample3">
            <div class="card card-body">
              Double SIM - Ecran 6" IPS Full HD+ - Processeur Octa-core Qualcomm Snapdragon 660 - RAM 4 Go - Mémoire 64
              Go eMMC 5.1 - Emplacement pour carte MicroSD jusqu'à 256 Go - Android Oreo - 2x Appareils Photo 12 MP
              (Arrière), 16 MP (Avant) - 4G - Wifi - Bluetooth - Lecteur d’empreinte digitale - Couleur Blanc & Cuivre
              - Garantie 1 an + SIM Data avec 1Go d'Internet ou SIM Voix
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="row py-5">
    <div class="col-sm">

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/Images/nokia-7-plus-tunisie.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">
            <h5 class="text-center">NOKIA 7 PLUS</h5><b>Prix : 1409 dt</b>
          </h5>
          <a href="#" class="btn btn-primary mr-2">Add to cart</a>
          <a class="btn btn-primary pl-3" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false"
            aria-controls="collapseExample">
            Description
          </a>
          <div class="collapse" id="collapseExample4">
            <div class="card card-body">
              Ecran 7" TFT (1200 x 800 pixels) - Processeur Quad Core ARM Cortex-A7 1,2 GHz - Android 5.1 Lollipop -
              RAM 1.5 Go - Mémoire 8 Go extensible jusqu’à 128Go - Appareil Photo 5MP (Arrière) avec Autofocus, 2MP
              (Frontale) - 4G LTE - Wifi - GPS, Glonass - Bluetooth - Batterie 4000 mAh – Mode Ultra économie d’énergie
              - Garantie 1 an
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm">

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/Images/telephone-portable-huawei-nova-3i-4g-double-sim-noir-sim-offerte.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">
            <h5 class="text-center">HUAWEI NOVA 3I</h5><b>Prix : 999 dt</b>
          </h5>
          <a href="#" class="btn btn-primary mr-2">Add to cart</a>
          <a class="btn btn-primary pl-3" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false"
            aria-controls="collapseExample">
            Description
          </a>
          <div class="collapse" id="collapseExample3">
            <div class="card card-body">
              Double SIM - Ecran 6.3" Full HD+ - Résolution 2340 x 1080 - Processeur Kirin 710 Octa-Core 4 x Cortex A73
              2.2 GHz + 4 x Cortex A53 1.7 GHz - Android 8.1 - RAM 4 Go - Mémoire 128 Go up to 256 Go - Caméra arrière:
              16 MP + 2 MP - Caméra avant: 24 MP + 2 MP - Wifi - 4G - Bluetooth - Batterie 3340 mAh - Garantie 1 an +
              SIM Data avec 2 Go d'Internet ou SIM Voix Offerte
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="col-sm">


      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/Images/telephone-portable-condor-allure-a8-plus-4g-double-sim-rose-sim-offerte.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">
            <h5 class="text-center">CONDOR ALLURE A8 PLUS</h5><b>Prix : 760 dt</b>
          </h5>
          <a href="#" class="btn btn-primary mr-2">Add to cart</a>
          <a class="btn btn-primary pl-3" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false"
            aria-controls="collapseExample">
            Description
          </a>
          <div class="collapse" id="collapseExample3">
            <div class="card card-body">
              Double SIM - Ecran 5.5" FULL HD - Processeur Octa Core 1.8 Ghz - RAM 4 Go - Mémoire 32 Go extensible
              jusqu'à 128 - Android 6.0.1 Marshmallow - 2x Appareils Photos 13 MP Arrière avec flash, 8 MP Frontale -
              Wifi - 4G - Bluetooth - Usb Type-C - GPS - Batterie 3130 Mah - Garantie 1 an + SIM Data avec 1Go
              d'Internet ou SIM Voix Offerte
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div> -->

<div class="container my-5">
  <div class="row justify-content-between">
    <ng-container *ngFor="let p of products; let i=index" >
      <div class="col-4 mb-5">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" [src]="p.image" alt="Card image cap">
              <div class="card-body text-center">
                <h5 class="card-title">{{p.nomprod}}</h5>
                <h4 id="product-price">{{p.prix}} TND </h4>
                <a href="#" class="btn btn-primary" (click)="selectedProduct = p" data-toggle="modal" data-target="#card">Description</a>
              </div>
            </div>
      </div>
      <div  class="modal fade" id="card" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"> {{selectedProduct?.nomprod}} </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <img class="card-img-top" src="{{selectedProduct?.image}}" alt="Card image cap">
                  <p class="card-text">{{selectedProduct?.decrip}}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary">Add to cart</button>
              </div>
            </div>
          </div>
        </div>
  <div *ngIf="(i + 1) % 3 === 0" class="w-100"></div>
  </ng-container>
  </div>
  </div>
