<div id="left-column" class="col-xs-12 col-sm-2 pt-5">

  <div class="contact-rich">
    <h4>Informations</h4>
    <hr>
    <div class="block">
      <div class="icon"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></div>
      <div class="data">YourTech<br>INSAT Centre Urbain Nord BP 676<br>1080 Tunis Cedex<br>Tunisie</div>
    </div>
        <hr>
      <div class="block">
        <div class="icon"><i class="fa fa-phone fa-2x" aria-hidden="true"></i></div>
        <div class="data">
          Appelez-nous :<br>
          <a href="">+216 99 99 99 99</a>
         </div>
      </div>
          <hr>
      <div class="block">
        <div class="icon"><i class="fa fa-fax fa-2x" aria-hidden="true"></i></div>
        <div class="data">
          Fax :<br>
          +216 88 88 88 88
        </div>
      </div>
          <hr>
      <div class="block">
        <div class="icon"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></div>
        <div class="data email">
          Envoyez-nous un e-mail :<br>
         </div>
         <a href="mailto:dalitlich@gmail.com">dalitlich@gmail.com</a>
      </div>
    </div>

    </div>
