<div class="container">
    <div class="row my-5">
      <div class="col-sm">

          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="/Images/pc-de-bureau-lenovo-tout-en-un-s200z-dual-core-4go-noir.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><h5 class="text-center">PC DE BUREAU LENOVO S200Z</h5><b> Prix : 825 dt</b></h5>
                <!--<p class="card-text">Écran LCD 19.5" LED (1600 x 900) - Processeur Intel Celeron Dual Core J3060, up to 2.48 GHz, 2 Mo de mémoire cache - 4 Go de mémoire - Disque 500 Go - Carte graphique Intel HD Graphics - HDMI - USB 3.0 - Wifi - Bluetooth - Webcam HD - Garantie 1 an</p>-->
                <a href="#" class="btn btn-primary mr-2">Add to cart</a>
                <a class="btn btn-primary pl-3" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Description
                  </a>
                  <div class="collapse" id="collapseExample1">
                  <div class="card card-body">
                      Écran LCD 19.5" LED (1600 x 900) - Processeur Intel Celeron Dual Core J3060, up to 2.48 GHz, 2 Mo de mémoire cache - 4 Go de mémoire - Disque 500 Go - Carte graphique Intel HD Graphics - HDMI - USB 3.0 - Wifi - Bluetooth - Webcam HD - Garantie 1 an
                  </div>
                </div>
              </div>
            </div>

      </div>
      <div class="col-sm">


          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="/Images/pc-de-bureau-all-in-one-asus-vivo-aio-v221iduk-ba030d-quad-core-noir.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><h5 class="text-center">PC DE BUREAU ASUS V221IDUK</h5><b>Prix : 2000 dt</b></h5>
                <!--<p class="card-text">Ecran 21.5" HD LED - Processeur Pentium Quad Core J4205, up to 2.6 Ghz, 2 Mo de mémoire cache - Mémoire 4 Go - Disque 500 Go - Carte graphique Intel HD Graphics - Wifi - Bluetooth - Webcam Integrée - 4x USB 3.0 - 1x USB 2.0 - Garantie 1 an</p>-->
                <a href="#" class="btn btn-primary mr-2">Add to cart</a>
                <a class="btn btn-primary pl-3" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Description
                  </a>
                  <div class="collapse" id="collapseExample2">
                  <div class="card card-body">
                      Ecran 21.5" HD LED - Processeur Pentium Quad Core J4205, up to 2.6 Ghz, 2 Mo de mémoire cache - Mémoire 4 Go - Disque 500 Go - Carte graphique Intel HD Graphics - Wifi - Bluetooth - Webcam Integrée - 4x USB 3.0 - 1x USB 2.0 - Garantie 1 an
                  </div>
                </div>
              </div>
            </div>

      </div>
      <div class="col-sm">


          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="/Images/tablette-vega-prestigia-7-4g-double-sim-bleu.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><h5 class="text-center">TABLETTE VEGA PRESTIGIA</h5><b>Prix : 219 dt</b></h5>
                <a href="#" class="btn btn-primary mr-2">Add to cart</a>
                <a class="btn btn-primary pl-3" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Description
                  </a>
                  <div class="collapse" id="collapseExample3">
                  <div class="card card-body">
                      Double SIM - Fonction appel téléphonique - Ecran 7" IPS HD - Résolution 1024 x 600 pixels - Processeur MTK8735D Quad Core Cortex A53, 1.1 GHz - RAM 1 Go - Mémoire 16 Go extensible jusqu'à 32 Go via carte microSD - 2x Appareils Photos: 13 MP (Arrière), 2 MP (Frontale) - Wifi - 4G - Bluetooth - GPS - Couleur Bleu - Garantie 1 an + Etui avec support + Film de protection  + Écouteurs
                  </div>
                </div>
              </div>
            </div>


      </div>
    </div>
    <div class="row py-5">
        <div class="col-sm">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/Images/tablette-samsung-galaxy-tab-a-2016-sm-t285-4g-7-8go-noir.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><h5 class="text-center">TABLETTE SAMSUNG GALAXY TAB A </h5><b>Prix : 409 dt</b></h5>
                  <a href="#" class="btn btn-primary mr-2">Add to cart</a>
                  <a class="btn btn-primary pl-3" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">
                      Description
                    </a>
                    <div class="collapse" id="collapseExample4">
                    <div class="card card-body">
                        Ecran 7" TFT (1200 x 800 pixels) - Processeur Quad Core ARM Cortex-A7 1,2 GHz - Android 5.1 Lollipop - RAM 1.5 Go - Mémoire 8 Go extensible jusqu’à 128Go - Appareil Photo 5MP (Arrière) avec Autofocus, 2MP (Frontale) - 4G LTE - Wifi - GPS, Glonass - Bluetooth - Batterie 4000 mAh – Mode Ultra économie d’énergie - Garantie 1 an
                    </div>
                  </div>
                </div>
              </div>

        </div>
        <div class="col-sm">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/Images/pc-portable-dell-inspiron-7577-i5-7e-gen-8-go-noir.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><h5 class="text-center">PC PORTABLE DELL INSPIRON 7577</h5><b>Prix : 2069 dt</b></h5>
                  <a href="#" class="btn btn-primary mr-2">Add to cart</a>
                  <a class="btn btn-primary pl-3" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
                      Description
                    </a>
                    <div class="collapse" id="collapseExample3">
                    <div class="card card-body">
                        Ecran 15.6" LED Full HD IPS - Processeur Intel Core i5-7300HQ 7è Génération, up to 3.5 GHz, 6 Mo de mémoire cache - Mémoire 8 Go DDR4 - Disque Dur 1 To  - Carte Graphique Nvidia GeForce GTX 1050, 4 Go de mémoire GDDR5 dédiée - WiFi - Bluetooth - 2x USB 3.1 - HDMI - RJ45 - Lecteur de carte SD - Couleur Noir - Garantie 1 an
                    </div>
                  </div>
                </div>
              </div>


        </div>
        <div class="col-sm">


            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/Images/pc-portable-hp-omen-15-ce016nk-i5-7e-gen-12-go.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><h5 class="text-center">PC PORTABLE HP OMEN 15-CE016NK </h5><b>Prix : 2069 dt</b></h5>
                  <a href="#" class="btn btn-primary mr-2">Add to cart</a>
                  <a class="btn btn-primary pl-3" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
                      Description
                    </a>
                    <div class="collapse" id="collapseExample3">
                    <div class="card card-body">
                        Ecran 15.6'' FHD IPS - Processeur Intel Core i5-7300HQ, up to 3.5 Ghz, 6 Mo de mémoire cache - Mémoire 12 Go - Disque 1 To - Carte graphique NVIDIA GeForce GTX 1050, 2 Go de mémoire GDDR5 dédiée - Wifi - Bluetooth - 1x USB 3.1 Type-C - 3x USB 3.1 1e Gén - HDMI - RJ45 - Garantie 1 an
                    </div>
                  </div>
                </div>
              </div>


        </div>
      </div>
  </div>

